### C/C++ specific ###
# Fișiere obiect și biblioteci
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

# Executabile (Standard pentru macOS/Linux și Windows)
*.out
*.exe
# Dacă obișnuiești să îți numești executabilul simplu "main" sau "app"
main
app
test

# Foldere pentru debug (generate de macOS/GDB/LLDB)
*.dSYM/

### IDE specific (VS Code) ###
.vscode/
*.swp

### OS specific ###
.DS_Store
.AppleDouble
.LSOverride